# NETBOX

## Credenciais do Superusuário Netbox
SUPERUSER_NAME="admin"
SUPERUSER_EMAIL="admin@example.com"
SUPERUSER_PASSWORD="Admin@1234567890"

## TIMEZONE PARA DATAS E HORA NA INTERFACE WEB E BANCO DE DADOS NETBOX
TIME_ZONE="America/Sao_Paulo"

## PORTA DO NETBOX
NETBOX_PORT="8000"

## VERSÃO DO NETBOX
NETBOX_VERSION="netboxcommunity/netbox:v4.5.8-4.0.2"